.container {
  min-width: 0;
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.actions {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
}

.button {
  padding: 0.25rem 0.5rem;
  background-color: var(--color-border);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  text-transform: uppercase;
  font-weight: 800;
  font-family: inherit;
  cursor: pointer;
}
